<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thank You!</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="bg-dark">
    <div class="boxbg">
      <form  action="/response" method="post">
      <div>
        <label class="labelres">Your Response has been Recorded!</label><br>
      <div>
          <button type="submit" class="btn btn-secondary btnok">OK</button><br>
        </div>
      </div>
      </form>
      </div>
  </body>
</html>
